<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    <p>&copy;2018 Marc Flennert. All rights reserved.
                        Los Angeles, California.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
