<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="copyright">
                    <p style="text-align: center">&copy;2018 Marc&nbsp;Flennert. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
