<div class="poster mb-5 mt-3">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://player.vimeo.com/video/117235079" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="video-title mt-3 mb-5">Mercedes-Benz - <em>Record</em></p>
</div>
