<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Marc Flennert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="Robots" content="index,follow"/>

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/bootstrap-theme.css" />
    <link rel="stylesheet" href="./css/custom.css" />
    <link rel="stylesheet" href="./css/extra.css" />
    <!--
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone4.png" />
    -->
</head>
<body style="background-color: #F6F6F6">

<% include ../partials/navbar %>

<div class="container main-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img src="../img/marcflennert01md.jpeg" alt="Marc Flennert" class="img-responsive"/><br/>

            <p>A lifelong photographer, Marc Flennert's passion is the practice of cinematography. With the
                combination of his natural creativity and technical know how, he's able to infuse his
                approach with a style of his own. Over the years he's gained vast...A lifelong photographer,
                Marc Flennert's passion is the practice of cinematography. With the combination of his
                natural creativity and technical know how, he's able to infuse his approach with a style of
                his own. Over the years Flennert gained a vast experience working hand in hand with award
                winning directors, producers and agencies servicing major brands. Flennert continues to
                refine his talents by continually immersing himself in an array of projects around the world.</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    <p>&copy;2018 Marc Flennert. All rights reserved.
                        Los Angeles, California.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
