<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Commercials by Marc Flennert</title>
  <% include partials/head.ejs %>
</head>
<body>

<% include partials/navbar.ejs %>

<main>
  <article>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <% include partials/work.ejs %>
        </div>
      </div>
    </div>
  </article>
</main>

<% include partials/footer.ejs %>

</body>
</html>
