// Your custom CSS
@font-face {
  font-family: 'Courier New';
  src:  url('CourierNew.ttf') format('ttf');
}

body {
  font-family: 'Courier New', sans-serif !important;
}

.nav-link {
  font-size: 110%;
  font-weight: bold;
}

.copyright {
  color: #000000;
  font-size: 80%;
  font-weight: normal;
}

.poster {

}

.bodycopy {
  color: #000000;
}

.video-title {
  color: #000000;
}

// Responsive Typography

html {
  font-size: 0.6rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.0rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.1rem;
  }
}
