// Your custom CSS
//@font-face {
//  font-family: 'Courier New';
//  src:  url('CourierNew.ttf') format('ttf');
//}

body {
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 125%;
}

.nav-link {
  font-size: 85%;
}

.bodycopy {
  color: #666;
  font-size: 77%
}

.copyright {
  color: #666;
  font-size: 50%;
  font-weight: normal;
}

.poster {

}

.video-title {
  color: #666;
  font-size: 77%;
  margin-bottom: 5rem !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
  width: 2.0em !important;
  height: 2.0em !important;
}

// Responsive Typography

html {
  font-size: 0.6rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.0rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.1rem;
  }
}
