// Your customize CSS
//@font-face {
//  font-family: 'MonospaceTypewriter';
//  font-style:  normal;
//  font-weight: 400;
//  src: url('../fonts/MonospaceTypewriter.woff') format('woff');
//}
//
//body {
//  font-family: 'MonospaceTypewriter', sans-serif !important;
//}

// Responsive Typography

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
